/* Reset some basic elements */
body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E0F7FA; /* Light blue background */
}

header {
    background-color: #B2EBF2; /* Slightly darker blue for contrast */
    padding: 10px;
    position: relative;
}

#logo {
    float: left;
    font-size: 24px;
    font-weight: bold;
}

#menu-toggle {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

#side-menu {
    background-color: #81D4FA;
    position: fixed;
    top: 0;
    left: 0;
    width: 0; /* collapsed by default */
    height: 100%;
    overflow-x: hidden; /* Hide content when menu is collapsed */
    transition: 0.5s; /* Smooth transition effect */
    z-index: 1;
}

#side-menu ul {
    list-style-type: none;
    padding: 20px 0;
}

#side-menu ul li a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #0277BD;
    display: block;
    transition: 0.3s;
}

#subheader-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#subheader-container h1 {
    font-size: 2em;
    color: #0277BD;
    margin: 0.5em 0;
}

#chatbox {
    background-color: #B3E5FC;
    border: 1px solid #29B6F6;
    position: fixed;
    right: -250px; /* Hidden by default */
    top: 100px; /* Position as desired */
    width: 250px; /* Width of chatbox */
    transition: 0.5s; /* Smooth transition effect */
    z-index: 1;
}

.chat-messages {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
}

.chat-toggle {
    position: absolute;
    top: 0;
    left: 100%; /* Position right outside the chatbox */
    transform: translateX(-100%);
    background-color: #29B6F6;
    color: white;
    padding: 5px 10px;
}

footer {
    background-color: #B2EBF2;
    color: #0277BD;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}